.createDeckMainContainer{
    width:100vw;
    height:100vh;
    background-image:url("https://images4.alphacoders.com/102/thumb-1920-1026146.jpg");
    background-color:rgba(0, 0, 0, 0.767);
    background-blend-mode:saturation;
    @include flexCenter();
    overflow-y:hidden;

    .deckContainer{
        width:15%;
        height:100%;
        text-align:center;
        background-color:rgba(0, 0, 0, 0.322);
        background-blend-mode:saturation;
        overflow-y:auto;

        .portrait{
            height:30%;
            width:100%;
            background-image:url("./images/warrior.jpg");
            background-size:cover;
            background-position:top;
            background-blend-mode:normal;
            border-bottom:1px solid;
            border-color:rgb(255,152,0);
            @include flexCenter();
            align-items:flex-end;
            font-size:2rem;

            div{
                @include flexCenter();
                width:100%;
                height:20%;
                color:white;
                background-color:rgba(0, 0, 0, 0.722);
            }
        }

        .builderCard{
            width:100%;
            height:5%;
            @include flexCenter();
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            background-color:rgba(0, 0, 0, 0.322);
            background-blend-mode:saturation;
            color:white;

            div{
                height:100%;
                background-position:center;
                background-size:cover;
                @include flexCenter();
                background-color:rgba(0, 0, 0, 0.322);
                background-blend-mode:saturation;
            }
            div:nth-child(1){
                background-image:url("https://static.hsreplay.net/static/images/mana_crystal.png");
                width:15%;
                background-blend-mode:normal;
            }
            div:nth-child(2){
                width:83.5%;
                letter-spacing:0.1rem;
            }
            div:nth-child(3){
                width:1.5%;
            }
        }
    }

    .cardsMainContainer{
        width:85%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
        position:relative;

        .arrows{
            width:5%;
            height:100%;
        }

        .left{
            cursor:url('./images/left-arrow.png'), auto;
        }

        .right{
            cursor:url('./images/right-arrow.png'), auto;
            
        }

        .changeCards{
            position:absolute;
            left:0;
            top:0;
            width:6%;
            height:10%;
            display:grid;
            grid-template-rows: repeat(2, 1fr);
            margin-top:2rem;

            div{
                @include flexCenter();
                background-size:contain;
                background-repeat:no-repeat;
                background-position:center;
                width:100%;
                height:80%;
                margin-bottom:4rem;
                cursor:pointer;
            }
        }

        .cardsContainer{
            width:90%;
            height:100%;
            display:grid;
            grid-template-columns:repeat(4, 1fr);
            grid-template-rows:repeat(2, 1fr);

            div{
                @include flexCenter();
                margin:2rem;
                background-position:center;
                background-size:cover;
                background-repeat:no-repeat;
                cursor:pointer;
                transform:scale(1);
                transition:all ease-in-out 0.2s;

                &:hover{
                    transform:scale(1.1);
                }
            }
        }
    }
}